.spotifyoverall {
    margin: 0px;
    background: url(../photos/spotifyscreenshot.png);
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 100%;
    top: 0%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.spotifyoverall::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px);
    z-index: 1;
}

.spotifytext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    z-index: 2;
    position: relative;
}