/* -- Background -- */

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    background-color: midnightblue;
    background: url("photos/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

:root {
    --windowsgui: #1d1d1d;
    --hover: rgba(255, 255, 255, 0.2);
    --test1: red;
    --test2: purple;
    --test3: blue;
    --test4: cyan;
}

/* -- Index General -- */

.overall {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 1;
}

.exampleoverall {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.blank {
    opacity: 0;
}

/* Main Tags */

a {
    display: block;
    text-decoration: none;
    color: white;
    cursor: default;
}

h1 {
    font-size: 40px;
    font-family: "Segoe UI", sans-serif;
    color: white;
}

.subheading {
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    color: white;
}

/* -- Taskbar -- */

.taskbar {
    background-color: var(--windowsgui);
    width: 100vw;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    z-index: 1;
    user-select: none;
}

.taskbarright {
    height: 40px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* -- Taskbar Shortcuts -- */

.shortcut {
    height: 40px;
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

/* Windows Button */

#windowsbutton {
    height: 40px;
    min-width: 39px;
    max-width: 39px;
    width: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
    z-index: 2;
    position: relative;
}

#windowsbutton:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

/* -- Right Sided Buttons -- */

.homepagebutton {
    height: 39px;
    width: 4px;
}

#homepagebuttonlink {
    display: block;
    max-width: 4px;
    max-height: 40px;
}

#homepagebuttonlink:hover {
    background-color: var(--hover);
}

.homepagegap {
    height: 40px;
    width: 8px;
}

.homepageline {
    height: 40px;
    width: 1px;
    background-color: white;
    opacity: 0.5;
}

.invisibletext {
    opacity: 0;
    font-size: 1px;
}

/* -- Activity Centre -- */

#notificationcentre {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notificationcentre:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

/* -- Date and Time -- */

.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 70px;
  }

#time-display {
      text-align: center;
      font-size: 12px;
      font-family: "Segoe UI", sans-serif;
      color: white;
  }

#date-display {
      text-align: center;
      font-size: 12px;
      font-family: "Segoe UI", sans-serif;
      color: white;
  }

.time-container:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

/* -- Folded Apps -- */

#hiddenicons {
    height: 40px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hiddenicons:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

/* -- Weather -- */

.weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Segoe UI", sans-serif;
    color: white;
    width: 172px;
    height: 40px;
}

.weather:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

.weatherpadding {
    display: flex;
    padding-left: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.weatherpadding1 {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
}

/* -- Windows Expanded */

#windowContainer {
    position: fixed;
    bottom: 40px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 0;
}

.window-content {
    background-color: #262626;
    font-family: "Segoe UI";
    color: white;
    width: 648px;
    height: 648px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    transition: 0.2s ease-out;
    box-shadow: #1d1d1d 1px -1px 8px 1px;
}

/* -- Hidden Icons Expanded -- */

#hiddeniconsContainer {
    position: fixed;
    bottom: 40px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 0;
}

#hiddenicons-content {
    background-color: rgba(38, 38, 38, 0.95);
    font-family: "Segoe UI";
    color: white;
    width: 160px;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 54px;
}

/* -- Notification Centre Expanded -- */

#notificationcentreContainer {
    position: fixed;
    bottom: 40px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 0;
}

#notificationcentre-content {
    background-color: rgba(38, 38, 38, 0.98);
    font-family: "Segoe UI";
    color: #858585;
    width: 400px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(400px);
    transition: 0.2s ease-in-out;
}