/* -- Background -- */

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    background-color: midnightblue;
    background: url("photos/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

:root {
    --windowsgui: #1d1d1d;
    --hover: rgba(255, 255, 255, 0.2);
    --test1: red;
    --test2: purple;
    --test3: blue;
    --test4: cyan;
}

/* -- Index General -- */

.overall {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 1;
}

.exampleoverall {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.blank {
    opacity: 0;
}

/* Main Tags */

a {
    display: block;
    text-decoration: none;
    color: white;
    cursor: default;
}

h1 {
    font-size: 40px;
    font-family: "Segoe UI", sans-serif;
    color: white;
}

.subheading {
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    color: white;
}

/* -- Taskbar -- */

.taskbar {
    background-color: var(--windowsgui);
    width: 100vw;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    z-index: 1;
    user-select: none;
}

.taskbarright {
    height: 40px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* -- Taskbar Shortcuts -- */

.shortcut {
    height: 40px;
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

/* Windows Button */

#windowsbutton {
    height: 40px;
    min-width: 39px;
    max-width: 39px;
    width: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
    z-index: 2;
    position: relative;
}

#windowsbutton:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

/* -- Right Sided Buttons -- */

.homepagebutton {
    height: 39px;
    width: 4px;
}

#homepagebuttonlink {
    display: block;
    max-width: 4px;
    max-height: 40px;
}

#homepagebuttonlink:hover {
    background-color: var(--hover);
}

.homepagegap {
    height: 40px;
    width: 8px;
}

.homepageline {
    height: 40px;
    width: 1px;
    background-color: white;
    opacity: 0.5;
}

.invisibletext {
    opacity: 0;
    font-size: 1px;
}

/* -- Activity Centre -- */

#notificationcentre {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notificationcentre:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

/* -- Date and Time -- */

#time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 70px;
  }

#time-display {
      text-align: center;
      font-size: 12px;
      font-family: "Segoe UI", sans-serif;
      color: white;
  }

#date-display {
      text-align: center;
      font-size: 12px;
      font-family: "Segoe UI", sans-serif;
      color: white;
  }

#time-container:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

/* -- Folded Apps -- */

#hiddenicons {
    height: 40px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hiddenicons:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

/* -- Weather -- */

.weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Segoe UI", sans-serif;
    color: white;
    width: 172px;
    height: 40px;
}

.weather:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

.weatherpadding {
    display: flex;
    padding-left: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.weatherpadding1 {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
}

/* -- Hidden Icons Expanded -- */

#hiddeniconsContainer {
    position: fixed;
    bottom: 40px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10;
}

#hiddenicons-content {
    background-color: rgba(38, 38, 38, 0.999);
    font-family: "Segoe UI";
    color: white;
    width: 160px;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 54px;
    border-right: 1px solid #343434;
    border-left: 1px solid #343434;
    border-top: 1px solid #343434;
}

.hiddeniconsgrid {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px;
    width: 100%;
    height: 100%;
}

.hiddeniconsshortcut {
    height: 38px;
    width: 38px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiddeniconsshortcut:hover {
    transition: 0.3s;
    background-color: var(--hover);
}

/* Data Title */

[data-title]:after {
    content: attr(data-title);
    position: fixed;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    bottom: 42px;
    background-color: white;
    border: 1px solid #767676;
    padding:  2px 5px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    color: #575757;
    text-align: left;
    text-decoration: none;
    text-wrap: wrap ;
    max-width: 86px;
}

[data-title]:hover:after {
    opacity: 1;
    visibility: visible;
    transition-delay:2s;
}

[data-title] {
    position: relative;
}

/* -- Windows Expanded */

#windowContainer {
    position: fixed;
    bottom: 40px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 0;
}

.window-content {
    background-color: #262626;
    font-family: "Segoe UI";
    color: white;
    width: 648px;
    height: 648px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateY(20px);
    transition: 0.2s ease-out;
    box-shadow: #1d1d1d 1px -1px 8px 1px;
    user-select: none;
}

/* Left Side */

.windowsleft {
    width: 320px;
    height: 648px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.windowsleftsidebar {
    width: 49px;
    padding-top: 4px;
    height: 644px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    transform: translateY(10px);
    transition: 0.2s ease-out;
}

.windowsleftsidebar:hover {
    width: 260px;
    background-color: #2d2d2d;
    align-items: flex-start;
    .windowsleftsidebartext {
        display: flex;
    }
}

.windowsleftsidebaricon {
    width: 49px;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.windowsleftsidebargap {
    width: 49px;
    height: 350px;
    opacity: 0;
}

.windowsleftsidebarrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s ease-out;
}

.windowsleftsidebarrow:hover {
    background-color: #545454;
    border: 1px solid #636363;
    height: 47px;
    width: 258px;
    .windowsleftsidebaricon {
        width: 47px;
        margin-right: 1px;
    }
    .windowsleftsidebartext {
        width: 198px;
        margin-left: 11px;
    }
}

.windowsleftsidebartext {
    width: 200px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 11px;
    font-size: 16px;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

#windowsleftsidebartextop {
    font-weight: 700;
    text-transform: uppercase;
}

/* Scroll Bar */

.windowsleftscrollbar {
    width: 275px;
    height: 648px;
    overflow-y: hidden;
    position: fixed;
    margin-left: 49px;
    transform: translateY(20px);
    transition: 0.2s ease-out;
}

.windowsscrollbartop {
    width: 245px;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 1px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.windowsscrollbartop:hover {
    background-color: #545454;
    width: 243px;
    height: 34px;
    border: 1px solid #777777;
    .windowsscrollbartoptext {
        margin-bottom: 7px;
        margin-left: 2px;
    }
    .windowsscrollbarsubheading {
        margin-bottom: 7px;
        margin-left: 11px;
    }
}

.windowsscrollbardiv {
    width: 245px;
    margin-left: 12px;
    margin-right: 1px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.windowsscrollbardiv:hover {
    background-color: #545454;
    width: 243px;
    height: 34px;
    border: 1px solid #777777;
    .windowsscrollbartext {
        margin-left: 3px;
    }
    .windowsscrollbaricon {
        height: 34px;
        margin-left: 4px
    }
}

.windowsscrollbaricon {
    width: 24px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.windowsscrollbartoptext {
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: 8px;
    margin-left: 3px;
}

.windowsscrollbartext {
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', sans-serif;
    margin-left: 3px;
}

.windowsscrollbarsubheading {
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: 8px;
    margin-left: 12px;
}

/* Scroll Bar */

/* Still Needs Work! */

.windowsleftscrollbar::-webkit-scrollbar {
    width: 12px;
}
  
.windowsleftscrollbar::-webkit-scrollbar-track {
    background: #262626;
}

.windowsleftscrollbar::-webkit-scrollbar-track:hover {
    background: #3b3b3a;
}

.windowsleftscrollbar::-webkit-scrollbar-thumb {
    background: #8b8b8b;
    border-left: 9px solid #3b3b3a;
}

.windowsleftscrollbar::-webkit-scrollbar-thumb:hover {
    background: #616261;
    border-left: 9px solid #3b3b3a;
}

/* Top and Bottom */

.windowsleftscrollbar::-webkit-scrollbar-button {
    background: #3b3b3a;
    color: white;
    height: 12px;
}

.windowsleftscrollbar::-webkit-scrollbar-button:hover {
    background: #4e4e4d;
    color: white;
}

/* Draggable Button */
  
.windowsleftscrollbar::-webkit-scrollbar-thumb {
    background: #8b8b8b;
    border-left: 9px solid #3b3b3a;
}

.windowsleftscrollbar::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b;
    border-left: 9px solid #3b3b3a;
}

/* Top and Bottom */

.windowsleftscrollbar::-webkit-scrollbar-button {
    background: #3b3b3a;
    color: white;
    height: 12px;
}

.windowsleftscrollbar::-webkit-scrollbar-button:hover {
    background: #4e4e4d;
    color: white;
}

/* Right  Side */

.windowsright {
    width: 328px;
    height: 648px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(20px);
    transition: 0.2s ease-out;
}

/* Subheading */

.windowssubheading {
    width: 320px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.windowssubheading:hover {
    .windowssubheadingicon {
        opacity: 1;
    }
}

.windowssubheadingtext {
    font-size: 12px;
    margin-left: 1px;
}

.windowssubheadingicon {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    opacity: 0;
}

/* Shortcuts */

.windowsrightrow {
    width: 320px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.windowsrightshortcut {
    height: 100px;
    width: 100px;
    background-color: #3f3c3c;
    margin-right: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.windowsrightshortcut:hover {
    width: 96px;
    height: 96px;
    border: 2px solid #777777;
    .windowsrightshortcutimage {
        margin-top: 18px;
        width: 96px;
    }
    .windowsrightshortcuttext {
        height: 14px;
        margin-bottom: 2px;
        width: 90px;
        margin-left: 4px;
    }
}

.windowsrightshortcutimage {
    margin-top: 20px;
    height: 60px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.windowsrightshortcuttext {
    height: 14px;
    width: 94px;
    display: flex;
    align-items: center;
    margin-left: 6px;
    margin-bottom: 6px;
    text-align: left;
    font-size: 12px;
}

/* -- Notification Centre Expanded -- */

#notificationcentreContainer {
    position: fixed;
    bottom: 40px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10;
    user-select: none;
}

#notificationcentre-content {
    background-color: rgba(38, 38, 38, 0.999);
    font-family: "Segoe UI";
    color: #858585;
    width: 400px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(400px);
    transition: 0.2s ease-in-out;
}

#notifmanagecontainer {
    width: 400px;
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
}

#notifmanagetext {
    color: #046ec1;
    text-align: center;
    width: 140px;
    height: 40px;
    z-index: 2;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notifmanagetext:hover {
    color: #ffffff;
}

.notifmain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    font-family: "Segoe UI";
    color: #a7a7a7;
    font-weight: 600;
    font-size: 15px;
}

.notifbottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 400px;
    min-height: 300px;
}

.notifbottomheading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 16px;
}

.notifbottomheadingtext {
    color: #046ec1;
    margin-left: 20px;
    font-size: 12px;
}

.notifbottomheadingtext:hover {
    color: #ffffff;
}

.notifbottomgrid {
    margin: 16px;
    display: grid;
    width: 368px;
    height: 210px;
    grid-template-columns: 92px 92px 92px 92px;
    grid-template-rows: 70px 70px 70px;
}

.notifbottombutton {
    background-color: #4d4f50;
    margin: 2px;
    width: 88px;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#bluebutton {
    background-color: #00467f;
}

.notifbottombutton:hover {
    border: 1px solid #777777;
    width: 86px;
    height: 64px;
    .notifbottombuttonicon {
        margin: 3px;
    }
    .notifbottombuttontext {
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: 3px;
    }
}

.notifbottombuttonicon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80px;
    height: 36px;
    margin: 4px;
}

.notifbottombuttontext {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 80px;
    height: 14px;
    margin: 4px;
    color: #ffffff;
    font-size: 12px;
}